.button:hover {
  border-bottom: 1px solid #4a4a4a;
}

.user a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user a:hover {
  border-bottom: none;
}

.user img {
  width: 60px;
  height: auto;
  padding-right: 8px;
}
